// Colors Scheme
$fl-color-primary: #FFF;
$fl-color-secondary: #000000;
$fl-sable: #060606;
$fl-charcoal: #2E1503;
$fl-tangerine: #FFAF6D;
$fl-orange: #FFA500;
//typography
//Font Family
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
// Font Weight
$regular: 400;
$bold: 700;
// Font Sizes
$fl-xxxxx-large: 50px;
$fl-xxxx-large: 45px;
$fl-xxx-large: 40px;
$fl-xx-large: 35px;
$fl-x-large: 30px;
$fl-large: 20px;
$fl-medium: 16px;
$fl-small: 14px;
$fl-x-small: 12px;



