body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: 80px 310px 1fr 1fr 300px / 100%;
    grid-template-areas: "navbar" "herosection" "cardSectionOne" "cardSectionTwo" "footer";

    
    @media (min-width: 576px)   {
        grid-template: 80px  420px 1fr 1fr 300px / 100%;
        grid-template-areas: "navbar" "herosection" "cardSectionOne" "cardSectionTwo" "footer";
    }

    @media (min-width:768px) {
        grid-template: 80px 540px 1fr 1fr 300px / 100%;
         grid-template-areas: "navbar" "herosection" "cardSectionOne" "cardSectionTwo" "footer";
            }
    @media (min-width: 992px)   {
        grid-template: 80px 540px 1fr 1fr 100px / 100%;
         grid-template-areas: "navbar" "herosection" "cardSectionOne" "cardSectionTwo" "footer";
    }
}

.subcardSection{
    @media (min: width 992px){
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: 1fr 1fr / 100%;
    grid-template-areas: "subCardOne" "SubCardTwo";
    }
    
}








